.container {
  position: relative;
  width: 35px;
  height: 35px;

  & span {
    width: 15px;
    height: 15px;
    background-color: blue;
    color: white;
    border-radius: 100px;
    position: absolute;
    top: 0;
    right: 2px;
  }
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
}

.pink {
  background-color: pink;
}

.boxes {
  display: flex;
  gap: 50px;
}

.img {
  width: 100px;
  height: 100px;
  background-color: red;
}
